# Virtual environment
venv/
.VSCode/
__pycache__/
*.pyc
.Python
env/
env.bak/
venv.bak/

# Environment variables
.env

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
